.btn {
  display: inline-block;
  padding: 10px 40px;
  background-color: @second-color;
  border-radius: 30px;
  color: @white;

  &--arrow {
    &:after {
      content: '→';
      padding: 0 5px;
    }
  }
}