// цвета

@main-color: #4d4d4d;
@second-color: #a1a1a1;
@white: #fff;
@footer: #3b3b3b;
@bg-color: #f5f5f5;


// типографика
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);
@osans: 'Open Sans', sans-serif;


@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);
@badscript: 'Bad Script', cursive;
@simple-text: 16px;
@h2: 22px;


// отступы
@inner: 0 20px;